/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Life Savers', serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/
html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  /* height: 100% */
}

body {
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Life Savers', serif;
  font-size: 3rem;
  color: #2b4e80;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

main {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 0rem solid;
  width: 35rem;
  height: 25rem;
  margin-left: 15rem;
  margin-right: 4rem;
  background-color: #E6ECF4;
}

.question-input {
  margin: 2em 4rem 0rem 4rem;
  height: 2rem;
  border: 0rem;
}

.question-input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-align: center;
}

.answer-button {
  margin: 2em 4rem 0rem 4rem;
  height: 2rem;
  border: 0rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background-color: #607AA0;
  color: #FFFFFF;
}

.answer-button:hover {
  background-color: #1C3455;
}

.eight-ball {
  display: flex;
  align-self: center;
  width: 10rem;
  height: auto;
  margin-top: 2.5rem;
}

.clear-button {
  align-self: flex-end;
  justify-self: flex-end;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  height: 2rem;
  width: 4rem;
  border: 0rem;
  background-color: lightgray;
  margin-right: 2rem;
}

.woody-image {
  height: 25rem;
}
